@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "keltoi";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(99.01% 0.012 96.42);
  --color-base-200: oklch(97.9% 0.03 96.42);
  --color-base-300: oklch(95% 0.012 96.42);
  --color-base-content: #2C2C2C;
  --color-primary: #046C4E;
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: #4e046c;
  --color-secondary-content: oklch(98% 0.014 180.72);
  --color-accent: #6C4E04;
  --color-accent-content: oklch(96% 0.016 293.756);
  --color-neutral: #2C2C2C;
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: #3A6EA5;
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: #2F8F6A;
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: #C49A6C;
  --color-warning-content: oklch(98% 0.016 73.684);
  --color-error: #A63A3A;
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "keltoi-dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(21% 0.043 96.75);
  --color-base-200: oklch(40.04% 0.082 96.17);
  --color-base-300: oklch(61.26% 0.067 95.53);
  --color-base-content: oklch(96.92% 0.016 95.22);
  --color-primary: #046C4E;
  --color-primary-content: oklch(97% 0.014 308.299);
  --color-secondary: #4e046c;
  --color-secondary-content: oklch(98% 0.022 95.277);
  --color-accent: #6C4E04;
  --color-accent-content: oklch(97% 0.013 236.62);
  --color-neutral: #2C2C2C;
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: #3A6EA5;
  --color-info-content: oklch(98% 0.019 200.873);
  --color-success: #2F8F6A;
  --color-success-content: oklch(98% 0.031 120.757);
  --color-warning: #C49A6C;
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: #A63A3A;
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 0rem;
  --radius-field: 0rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}



@theme {
    --font-heading: "Playfair Display", "serif";
    --font-body: "Merriweather", "serif";
}

body {
    font-family: var(--font-body);
    font-weight: 400;
    
}
h1, h2, h3, h4, h5, h6, nav, th {
    font-family: var(--font-heading);
    font-weight: 700;
    font-variant: small-caps;
}